/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Pokemon-DP';
  src: url('/assets/fonts/pokemon-dp-pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}