/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Pokemon-DP';
  src: url('/assets/fonts/pokemon-dp-pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}