<div class="container">
  <mat-card class="main-card">
    <div>
      <h3>Pokemons</h3>
    </div>
    <mat-divider/>
    <div class="card-grid-wrapper">
      <div class="card-grid-container">
        @for (pokemon of pokemons$ | async; track pokemon.name) {
          <div class="card-grid-item">
            <mat-card class="pokemon-card">
              <mat-card-title>{{ pokemon.name | titlecase}}</mat-card-title>
              <mat-card-content>
                <img [src]="pokemon.url | pokemonId | pokemonImage" alt="{{ pokemon.name }}" />
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button (click)="selectPokemon(pokemon.url)">View Details</button>
              </mat-card-actions>
            </mat-card>
          </div>
        } 
      </div>
    </div>
  </mat-card>
  <div #placePokemonDetails></div>
</div>