<div class="battle-controls-container">
  <div class="fight-abilities">
    <div class="active-fight">
      @if (selectedPokemon()) {

      <img class="pokedex-button" src="/pokedex2.png" (click)="showPokedex()" />
      <img
        [src]="selectedPokemon().url | pokemonId | pokemonImage"
        alt="{{ selectedPokemon().name }}"
      />
      <h2 class="battle-pokemon-name">{{ selectedPokemon().name }}</h2>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      }
    </div>
    <div class="abilities-list-container">
      @for(abilitie of pokemonMoves; track abilitie.name ){
      <div class="pokemon-abilities">
        <h2>{{ abilitie.name | titlecase }}</h2>
        <p>Power: {{ abilitie.power }}</p>
      </div>
      }
    </div>
    @if(showPokedexFlag()){
    <app-pokedex class="pokedex" [pokemonId]="selectedPokemon().url | pokemonId"></app-pokedex>
    }
  </div>

  <div class="player-pokemons">
    <span class="player-label">{{ playerName }}</span>
    @for (pokemon of playerPokemons ; track pokemon.name) {
    <div class="selected-pokemons" tabindex="0" (click)="selectPokemon(pokemon)">
      <img [src]="pokemon.url | pokemonId | pokemonImage" alt="{{ pokemon.name }}" />
      <h2 class="pokemon-name">{{ pokemon.name }}</h2>
    </div>
    }
  </div>
</div>
