/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Pokemon-DP-Pro-Solid';
  src: url('/fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
  font-family: 'Pokemon-DP-Pro-Hollow';
  src: url('/fonts/Pokemon Hollow.ttf') format('truetype');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
}