html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

h1,
p {
  color: var(--text-color);
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container,
mat-drawer-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  color: var(--text-color);
}

mat-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background: var(--primary-color);
  border-radius: 0%;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

mat-list-item {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 8px;
  vertical-align: middle;
  color: var(--text-color);
}

span {
  color: var(--text-color);
}

mat-sidenav {
  background: var(--primary-color);
}

mat-toolbar {
  background: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

.toolbar {
  min-height: 65px;
}

.spacer {
  flex: 1 1 auto;
}

.drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 8px;
}

.toggle-wrapper {
  margin-top: auto;
  padding: 16px 0;
}

@media (max-width: 768px) {
  .nft-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
